<!DOCTYPE html>
<html>
<head>
  <title>Vidorama</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
	<div class='nav-left'>
		<h1>Vidorama</h1>
	</div>
	<div class='nav-right'>
		<%= link_to 'New Videolink', new_videolink_path %>
	</div>
</nav>

<%= yield %>

</body>
</html>
